body {
font-family: sans-serif;
background-color: #000000;
}
h1, p, ol {
    color: #ffffff;
}
input {
    border-color: #000000;
    box-shadow: #000000;
    background-color: #000000;
    color: #ffffff;
    border-collapse: collapse;
}

