body {
font-family: sans-serif;
background-color: #011144;
}
h1, p, ol {
    color: #ffffff;
}
input {
    border-color: #ffffff;
    box-shadow: #000000;
    background-color: #011144;
    color: #ffffff;
}

