body {
padding-left: 10;
font-family: sans-serif;
background-color: #01113d;
}
h1, p, ol {
    color: #ffffff;
}
input {
    border-color: #01113d;
    box-shadow: #01113d;
    background-color: #01113d;
    color: #01113d;
}

